/* components/works/index.wxss */
.main {
  box-sizing: border-box;
  padding: 24rpx;
  column-count: 2;
  column-gap: 24rpx;

  .card {
    break-inside: avoid;
    margin-bottom: 24rpx;
    box-sizing: border-box;
    border-radius: 16rpx;
    // box-shadow: var(--primary-shadow);
    // box-shadow: 8rpx 10rpx 12rpx #e5e5e5;
    border: 3rpx solid rgba(204, 204, 204, 0.4);

    .header {
      width: 100%;
      height: 300rpx;
      border-top-left-radius: 16rpx;
      border-top-right-radius: 16rpx;
      aspect-ratio: 1;
      object-fit: contain;
      // background-color: red;
      // background-image: url(../../images/animal.png);
      // background-size: contain;
    }

    .info {
      padding: 24rpx;
      border-bottom-left-radius: 16rpx;
      border-bottom-right-radius: 16rpx;

      .title {
        font-size: 32rpx;
      }

      .num {
        margin-top: 12rpx;
        font-size: 28rpx;
        color: #666;
      }
    }
  }
}